.product {
    padding: 0;

    .card {
        margin: 15px;

        .card-title {
            height: 50px;
        }

        .btn {
            width: 100%;
            background-color: transparent;
            color: aqua;
            border-color: aqua;
            border-radius: 50px;

            &:hover, &:active, &:focus {
                background-color: aqua !important;
                border-color: aqua;
                color: white;
                box-shadow: none !important;
            }
         }
    }
}